#basic-button{
    font-size: 20px;
    color: #000;
}
.MenuItem.Mui-selected {
    display: flex;
    justify-content: space-between !important;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}
.MenuItem:hover{
    background-color: #EF8E1C !important;
    color: #fff;    
}